name: Test Minimal Adapter

permissions:
  contents: read

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  test-minimal-adapter:
    name: Test the minimal adapter example
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run tests with docker-compose
        run: |
          docker-compose up --build --abort-on-container-exit
          EXIT_CODE=$?
          docker-compose down
          exit $EXIT_CODE
